a {
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    background: none !important;
}

img {
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    background: none !important;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
}